{
    "useTabs": false,
    "printWidth": 100,
    "proseWrap": "always",
    "singleQuote": true,
    "trailingComma": "es5",
    "semi": true,
    "arrowParens": "avoid",
    "htmlWhitespaceSensitivity": "css",
    "insertPragma": false,
    "tabWidth": 4,
    "quoteProps": "preserve",
    "vueIndentScriptAndStyle": false,
    "requirePragma": false,
    "jsxBracketSameLine": false
}
